<!-- edit modal -->
            <div id="editModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="APP.hideEditModal();return false;">&times;</span>
                        <h2 class="lang" data-model='edit_modal_heading'>Edit Item</h2>
                    </div>
                    <div class="modal-body">
                        <div class="frm_container">
                            <form name="" class="add_new_element" id="add_new_element" onsubmit="APP.edit();return false;">
                                <span id="edit_error_log"></span>
                                <label class="lang" data-model='edit_modal_title'>Title</label>
                                <input type="text" name="title" placeholder="Title" id="editTitle" class="lang" data-model='edit_modal_add_text' onkeyup="APP.validation(this);">
                                <label class="lang" data-model='edit_modal_description'>Description</label>
                                <textarea name="description" class="lang" data-model='edit_modal_textarea' rows="10" placeholder="Description" id="editDescription" onkeyup="APP.validation(this);"></textarea>
                                <input type="hidden" id="editItemId" value="">
                                <input type="submit" name="submit" class="add_element submit_button lang" data-model='edit_modal_add_button' value="Update">
                                <input type="submit" name="cancel" class="cancel_modal submit_button lang" data-model='edit_modal_cancel_button' onclick="APP.hideEditModal();return false;" value="Cancel">
                            </form>
                        </div>
                    </div>
                </div>
            </div>